.container{
    top:15vh;
    left:0;
    box-sizing: border-box;
    margin-top:200px;
    width:100vw;
    height:100vh;
    position: relative;


}
.innercontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width:150vh;
    height:400px;
        margin:auto;
    border:1px  lightslategray;
    box-shadow: 0px 0px 15px -2px gray;
    margin-bottom:40px;
    background-color: rgba(255, 255, 255, 0.2);
    color:black;
    font-weight: 500;
    padding: 10px;
    overflow: hidden;
}
.prof{
    height:350px;
    padding-bottom: 10px;
    
}
.aboutcontaier,.image{
    padding: 50px;
    
}

.skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:80px;
    width:100%;
    margin-top: 200px;
    margin:auto;
    
}

.image{
    padding:20px;
}
.tools{
    transition:.5s;
    
}
.tools:hover{
    transform:scale(2);
    
    
}

@media (max-width: 768px) {
    .container{
        font-size: medium;
    }
}
